{% extends 'dribble/base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
    {% include 'dribble/title.html' %}

    <nav class="navbar navbar-expand-lg navbar-light mb-0 p-0">
            <div class="col-2 pl-5 justify-content-center">    
                <div class="dropdown">
                    <button type="button" class="md_button dropdown-toggle btn-lg" data-toggle="dropdown">
                        Popular
                    </button>
                    <div class="dropdown-menu md_drop">
                        <a class="dropdown-item" href="#">Popular</a>
                        <a class="dropdown-item" href="#">Teams</a>
                        <a class="dropdown-item" href="#">Debuts</a>
                        <a class="dropdown-item" href="#">Recent</a>
                    </div>
                </div>
            </div>
            <div class="collapse navbar-collapse col-8 md_kategori justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">All </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Animation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Branding</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Ilustration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Mobile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Print</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Product Design</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Typograpy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Web Design</a>
                </li>
                    </ul>
                </ul>
            </div>
            <div class="col-2 pr-5 d-flex justify-content-end align-items-center">
                <button type="button" href="#" class="btn btn-outline-info" data-toggle="collapse" data-target="#demo">Filter</button>
            </div>
        </nav>
        <div class="container-fluid collapse  md_collapse" id="demo" style="padding-left:7%;">
            <div class="row">
                <div class="col-3">
                    <div>
                        <h5 style="padding-left: 20px;">TAGS</h5>
                        <form class="navbar-form" role="search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Tags" name="q">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-3">
                        <div class="dropdown">
                                <h5>TIMEFRAME</h5>
                                <button type="button" class="md_button dropdown-toggle btn-lg" data-toggle="dropdown">
                                    Now
                                </button>
                                <div class="dropdown-menu md_drop">
                                    <a class="dropdown-item" href="#">Now</a>
                                    <a class="dropdown-item" href="#">This Past Week</a>
                                    <a class="dropdown-item" href="#">This Past Month</a>
                                    <a class="dropdown-item" href="#">This Past Year</a>
                                    <a class="dropdown-item" href="#">All Year</a>
                                </div>
                            </div>
                </div>
                <div class="col-3"><div class="dropdown">
                        <h5>MADE WITH</h5>
                        <button type="button" class="md_button dropdown-toggle btn-lg" data-toggle="dropdown">
                            All apps
                        </button>
                        <div class="dropdown-menu md_drop">
                            <a class="dropdown-item" href="#">Adobe XD</a>
                            <a class="dropdown-item" href="#">Figma</a>
                            <a class="dropdown-item" href="#">Sketch</a>
                            <a class="dropdown-item" href="#">Unspash</a>
                        </div>
                    </div></div>
                <div class="col-3"><div class="dropdown">
                        <h5>DOWNLOAD</h5>
                        <button type="button" class="md_button dropdown-toggle btn-lg" data-toggle="dropdown">
                            All Shots
                        </button>
                        <div class="dropdown-menu md_drop">
                            <a class="dropdown-item" href="#">All Shots</a>
                            <a class="dropdown-item" href="#">Adobe Illustrator</a>
                            <a class="dropdown-item" href="#">Adobe Photoshop</a>
                            <a class="dropdown-item" href="#">Adobe XD</a>
                            <a class="dropdown-item" href="#">Figma</a>
                            <a class="dropdown-item" href="#">Invision Studio</a>
                            <a class="dropdown-item" href="#">Sketch</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- SIGN UP -->
        <!-- Button trigger modal -->

        </button>
        
        <!-- Modal -->

        
    <div class="container-fluid content">
        <div class="row">
            {% for post in posts %}
            <div class="col-md-4" id="content-col">
                <div class="content-post">
                    {% if post.category == 'Animation' %}
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" src="{{post.img}}"></iframe>
                    </div>
                    {% else %}
                    <a href=""><img src="{{post.img}}" class="content-img" width="360px" height="270px"/></a> 
                    {% endif %}
                </div>           
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}