
    <div id="myCarousel" class="carousel slide mb-3" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item bg1 active">
            <div class="container first-slide">
                <div class="carousel-caption text-left">
                <div class="row align-items-center">
                    <div class="col-md-7">
                        <div class="title-text">
                            <h1>Discover the world's top designers & creatives</h1>
                            <h5>Dribble is the leading destination to find & showcase creative work and
                                home to the world's best design professionals.
                            </h5>
                        </div>
                        <div class="title-button">
                            <form action="" method="get">
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#SignUp">Sign Up</button>
                            </form>
                        </div>
                        <div class="title-by">
                            <h6>Art by <a href="">Setyo Ramdhoni</a> in Malang, Indonesia</h6>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="title-img">
                            <img src="https://cdn.dribbble.com/assets/art-banners/botw-c092192e602abaa8d6a18c807d25a5f84d57e52eb907d3fa820fb83d29554e37.png"
                            alt="title image" width="450px"/>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="carousel-item bg2">
            <div class="container second-slide">
                <div class="carousel-caption">
                    <div class="row align-items-center">
                        <div class="col-md-7">
                            <div class="title-text">
                                <h1>Discover the world's top designers & creatives</h1>
                                <h5>Dribble is the leading destination to find & showcase creative work and
                                    home to the world's best design professionals.
                                </h5>
                            </div>
                            <div class="title-button">
                                <form action="" method="get">
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#SignUp">Sign Up</button>
                                </form>
                            </div>
                            <div class="title-by">
                                <h6>Art by <a href="">Setyo Ramdhoni</a> in Malang, Indonesia</h6>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="title-img">
                                <img src="https://cdn.dribbble.com/assets/art-banners/cactus4x3-00b2c882ddc01c9d5ebe19c886dc2c87bd18ef7aa1cdc1c53980fc305bcecfca.jpg"
                                alt="title image" width="450px"/>
                            </div>
                        </div>
                    </div>
                </div>        
            </div>
        </div>
        <div class="carousel-item bg3">
            <div class="container third-slide">
                <div class="carousel-caption text-right">
                    <div class="row align-items-center">
                        <div class="col-md-5">
                            <div class="title-img">
                                <img src="https://cdn.dribbble.com/assets/art-banners/dog_octane_animatedfast-e6d058d8366b5d28e9650dea1b9cf137d66b5432cfe3877c3400384015c0f0ae.gif"
                                alt="title image" width="450px"/>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="title-text">
                                <h1>Discover the world's top designers & creatives</h1>
                                <h5>Dribble is the leading destination to find & showcase creative work and
                                    home to the world's best design professionals.
                                </h5>
                            </div>
                            <div class="title-button">
                                <form action="" method="get">
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#SignUp">Sign Up</button>
                                </form>
                            </div>
                            <div class="title-by">
                                <h6>Art by <a href="">Setyo Ramdhoni</a> in Malang, Indonesia</h6>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    </div>